* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: montserrat, sans-serif;
}

body {
    background-color: #e3e3e3;
    min-height: 100vh;
}

ul {
    all: unset;
}

li {
    display: inline;
    list-style: none;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}