header .top-header {
    font-size: 1.1875em;
    background-color: #ff7f00;
}

header .top-header .logo {
    width: 8.3125rem;
    cursor: pointer;
}

.top-header nav a {
    position: relative;
    padding: 1.4rem 0;
}

.top-header nav .btn.hamburger {
    display: none;
}

.top-header nav .main-menu {
    gap: 30px;
}

.top-header nav .main-menu .close-btn {
    display: none;
}

.top-header .main-menu li a {
    color: white;
}


.lower-header {
    background-color: white;
}

.lower-header.hidden {
    display: none;
}

.lower-header .controls .search-bar input {
    width: 10.84210em;
    font-size: 1.1875rem;
    border: none;
    margin-inline-end: 5px;
}

.controls .search-bar img {
    width: 1em;
    height: 1em;
}

.lower-header .filter-by-words {
    font-size: 1.1875rem;
    gap: 1.5789em;
}

.lower-header .filter-by-words a {
    padding: 1.57894em 0;
}