.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-space {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.grid {
    display: grid;
}
main .gallery.hidden {
    display: none;
}
main .editor.hidden {
    display: none;
}