.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.grid .self-center {
    justify-self: center;
}

.justify-center {
    justify-content: center;
}

.none {
    display: none;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-layout {
    max-width: 1200px;
    margin: 0 auto;
  }