@import url(../css/helpers.css);

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #e3e3e3;

}

.main-header{
    background-color: #ff7f00;
    color: white;

}
.header-container{
    height: 66px;
}
.header-logo{
    width: 150px;
}
.gallery-container .search-fillter {
    background-color: white;
    margin-bottom: 20px;
    
  }
  
  .gallery-container .search-fillter-container {
    gap: 25px;
    height: 250px;
    background-color: white;

  }
  
  .search-form .search {
    border: none;
    border-bottom: 3px solid black;
    font-size: 1rem;
    font-family: mont;
  }
  
  .search-form .search-btn {
    border: none;
    background-color: transparent;
    position: relative;
    right: 15%;
    top: 5px;
    cursor: pointer;
  }
  .search-form .search-btn img{
    width: 20px;
  }
  
  .keywords-container li a {
    text-decoration: none;
    color: #000000;
  }

  .gallery-container .images-container{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
  }
  .images-container .img-gallery img{
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 12px;
  transition: 0.3s ease-in-out, box-shadow 0.3s;
}

.images-container .img-gallery img:hover{
  opacity: 0.6;
  box-shadow: 0px 0px 14px 3px;
}
.images-container .img-gallery .btn-upload{
  
  cursor: pointer;
}

.canvas-container {
  width: 80vw;
  margin: 10px auto;
  background-color: brown;
  border: 1px solid black;
}

canvas {
  background-color: white;
  border: 1px solid black;
}

.select-img-container img {
  width: 200px;
  cursor: pointer;
  filter: grayscale(1);
}
.select-img-container img:hover {
  transition: 0.5s;
  filter: unset;
}
